body {
    font-family: Helvetica, Arial, sans-serif;
    background: #f3f3f3;
    margin: 32px;
    color: #222;
}

header h1 {
    margin: 0 0 16px 0;
    font-weight: 600;
    text-align: left;
}

.gallery {
    width: 640px;
    margin: 0 auto;
    padding: 16px;
    background: #fff;
    border: 6px solid #e6e6e6;
    box-sizing: border-box;
}

.photo {
    display: inline-block;
    width: 180px;
    margin: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.photo img {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
}