.flex-container {
  display: flex;
  flex-wrap: wrap;   
  gap: 70px;         
  background-color: DodgerBlue;
  width: 300px;
  height: 300px;
}

.flex-container > div {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
}
