main {
    width: 700px;
    height: 500px;
    margin: 60px;
    position: relative;
}

img {
    width: 300px;
}

img.new {
    position: relative;
    top: -200px;
    right: -150px;
    width: 200px;
}
