.viewport {
    height: 50vh;
    position: relative;
}

.viewport.first {
    background: linear-gradient(to right, #0f5f9a, #2ed4b5);
}

.viewport.second {
    background: linear-gradient(to right, #b61e6d, #d77c29);
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.card img {
    display: block;
    width: 300px;
    height: auto;
}

.icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 18px;
}
