.flex-container {
  display: flex;
  flex-wrap: wrap;          
  align-content: flex-end;  
  background-color: DodgerBlue;
  width: 300px;
  height: 200px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
